[submodule "OpModes"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/OpModes
	url = https://github.com/FTC3486/OpModes.git
[submodule "RobotCoreExtensions"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/RobotCoreExtensions
	url = https://github.com/FTC3486/RobotCoreExtensions.git
[submodule "Subsystems"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/Subsystems
	url = https://github.com/FTC3486/Subsystems.git
